.kittens {
    height: 350px;
    object-fit: cover;
}

.card img {
    height: 250px;
    object-fit: cover;
}

.mygtukas {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
}

.paragrafas {
    padding: 20px 3px;
}